__pycache__/
*.py[cod]
*.so
*.pyd

.env/
.venv/
env/
venv/

.ipynb_checkpoints/

.DS_Store
*.swp

*.log
events.out.tfevents.*

train/*.csv
train/*.png
train/*.jpg
train/*.jpeg
train/*.yaml
train/*.npy

*.mp4
*.avi
*.mov

build/
dist/
*.spec

.*~

.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project
